body{
    font-family:  'Sources Sans Pro',sans-serif;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.topo{
background-color: #00cad1;
}
.container{
    margin: auto;
    max-width: 1024px;
}

.topo-container{
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.nav{
    width:25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav a:hover{
    color: black;
}

.banner{
    width: 100vw;
    height: 100vh;

    background-image: url('../assets/recepcao.png');
    background-size: cover;
    background-position: center;
}
.banner-container{
    height: 100%;
    display: flex;
    align-items: center;
    color:white;
    font-size: 30px;
}
.banner-container h2{ 
    font-weight: 100;
}

.sobre-sub{
    display: flex;
    text-align: center;
    color: grey;
    margin:0  0 35px 0;
    justify-content: space-evenly;
}
.f_column{
    display: flex;
    flex-direction: column !important;
}
.margin-0{
    margin: 0 !important;
}
.p-margin{
    margin:10px 0;
}
.sobre-sub span{
    font-weight: 700;
    color: rgb(87, 87, 87);
}
.sobre-sub iframe{
    width: 100%;
    height: 400px;
}
.sobre-sub h2{
    color: grey;
    margin: 30px;
}

.sobre-sub h3{
    margin: 20px
}
.sobre-sub li{
    height: 25px;
}
.sobre-sub a {
    text-decoration: none;
    color:white;
    padding: 10px 25px;
    background-color:#00cad1 ;
}
.espec-img {
    box-shadow: 0 0 10px rgb(85, 84, 84);
    border-radius: 1%;
}
.espec-img img{
    width: 300px;
    height: 200px;

    background-size: contain;
}
.espec-img figcaption{
    padding: 5px;
}