body{
    font-family:  'Sources Sans Pro',sans-serif;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.topo{
background-color: #00cad1;
}
.container{

}
.topo-container{
    max-width: 1024px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav{
    width:25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav a:hover{
    color: black;
}

.banner{
    width: 100vw;
    height: 100vh;

    background-image: url('../assets/recepcao.png');
    background-size: cover;
    background-position: center;
}
.banner-container{
    margin: auto;
    max-width: 1024px;
    height: 100%;
    display: flex;
    align-items: center;

    color:white;
    font-size: 30px;
}
.banner-container h2{ 
font-weight: 100;
}

.sobre-container{
    margin: auto;
    max-width: 1024px;
}

.sobre-sub1{
    text-align: center;
    color: grey;
    margin:0  0 35px 0;
}
.sobre-sub1 h2{
    color: grey;
    margin: 30px;
}
.sobre-sub2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: grey
}
.sobre-sub2 h3{
    margin: 20px
}
.sobre-sub2 li{
    height: 30px;
}